Set up imports

In [6]:
import pandas as pd
import matplotlib.pyplot as plt

Convert csv to df

In [7]:
our_groceries_df = pd.read_csv("Bearisa-Groceries.csv", index_col=False)
our_groceries_df.tail(5)

,Unnamed: 0,Item,Price,Quantity,Store,Date
9,9,green leaf lettuce bunch,$0.99,1,World Fresh Market,2023-09-11 00:00:00
10,10,pint of tomatillos,$5.00,1,Glenwood Farmers Market,9/10/23
11,11,tomatoes,$5.00,2,Glenwood Farmers Market,9/10/23
12,12,pack of brownies,$12.00,1,Glenwood Farmers Market,9/10/23
13,13,cold brew drink,$9.00,1,Glenwood Farmers Market,9/10/23

Check info types and convert date time values

In [8]:
our_groceries_df["Date"] = pd.to_datetime((our_groceries_df["Date"]), format='mixed')
our_groceries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  14 non-null     int64
 1   Item        14 non-null     object
 2   Price       14 non-null     object
 3   Quantity    14 non-null     int64
 4   Store       14 non-null     object
 5   Date        14 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 800.0+ bytes

Set up grocery dictionary with updates and convert to df

In [9]:
dictionary_groceries = {
    'Item' : [],
    'Price' : [],
    'Quantity' : [],
    'Store' : [],
    'Date' : []
}

new_grocery_df = pd.DataFrame(dictionary_groceries)

our_groceries_df = pd.concat([our_groceries_df, new_grocery_df], ignore_index=True).reset_index(drop=True)
our_groceries_df.tail(5)

    Unnamed: 0                           Item  Price Quantity Store    Date
19         NaN                    almond milk  $3.19        1  Aldi  9/2/23
20         NaN  grass fed beef patties 4 pack  $4.99        1  Aldi  9/2/23
21         NaN          frozen tilapia 8 pack  $8.19        1  Aldi  9/2/23
22         NaN     quesadilla cheese shredded  $4.69        1  Aldi  9/2/23
23         NaN             brioche bun 8 pack  $3.99        1  Aldi  9/2/23

Overwrite csv

In [10]:
our_groceries_df.to_csv("Bearisa-Groceries.csv", encoding='utf-8', index=False)

grocery trends visualization ideas:
- item frequency
- spending by category
- category frequency
- spending by item
- store frequency
- spending by store