Set up imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Convert csv to df

In [2]:
our_groceries_df = pd.read_csv("Bearisa-Groceries.csv", index_col=False)
our_groceries_df.tail(5)

                             Item   Price  Quantity Store      Date
19                    almond milk  $3.19          1  Aldi  9/2/2023
20  grass fed beef patties 4 pack  $4.99          1  Aldi  9/2/2023
21          frozen tilapia 8 pack  $8.19          1  Aldi  9/2/2023
22     quesadilla cheese shredded  $4.69          1  Aldi  9/2/2023
23             brioche bun 8 pack  $3.99          1  Aldi  9/2/2023

Check info types and convert date time values

In [3]:
our_groceries_df["Date"] = pd.to_datetime((our_groceries_df["Date"]), format='mixed')
our_groceries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Item      24 non-null     object
 1   Price     24 non-null     object
 2   Quantity  24 non-null     int64
 3   Store     24 non-null     object
 4   Date      24 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.1+ KB

Set up grocery dictionary with updates and convert to df

In [4]:
dictionary_groceries = {
    'Item' : [],
    'Price' : [],
    'Quantity' : [],
    'Store' : [],
    'Date' : [],
    'Category' : [] 
    #category menu: sweet snack, salty snack, drink, meat, produce, bread, dairy, quick meal, dry goods, spices
}

new_grocery_df = pd.DataFrame(dictionary_groceries)

our_groceries_df = pd.concat([our_groceries_df, new_grocery_df], ignore_index=True).reset_index(drop=True)
our_groceries_df.tail(5)

                         Item  Price Quantity        Store     Date
24                 corn chips  $2.49        1  Trader Joes  9/13/23
25                harvest tea  $2.49        1  Trader Joes  9/13/23
26          high fiber cereal  $2.99        1  Trader Joes  9/13/23
27  pumpkin spice rooibos tea  $4.99        1  Trader Joes  9/13/23
28     dark chocolate pb cups  $0.99        1  Trader Joes  9/13/23

Overwrite csv

In [5]:
our_groceries_df.to_csv("Bearisa-Groceries.csv", encoding='utf-8', index=False)

grocery trends visualization ideas:
- item frequency
- spending by category
- category frequency
- spending by item
- store frequency
- spending by store