Set up imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Convert csv to df

In [2]:
our_groceries_df = pd.read_csv("Bearisa-Groceries.csv", index_col=False)
our_groceries_df.tail(5)

,Item,Price,Quantity,Store,Date,Category
27,pumpkin spice rooibos tea,$4.99,1,Trader Joes,2023-09-13 00:00:00,drink
28,dark chocolate pb cups,$0.99,1,Trader Joes,2023-09-13 00:00:00,sweet snack
29,fig bars,$16.59,1,Costco,2023-09-15 00:00:00,quick meal
30,hoppy refresher 24 pk,$28.99,1,Costco,2023-09-15 00:00:00,drink
31,almond milk 12 pk,$10.99,1,Costco,9/19/23,drink

Check info types and convert date time values

In [3]:
our_groceries_df["Date"] = pd.to_datetime((our_groceries_df["Date"]), format='mixed')
our_groceries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Item      32 non-null     object
 1   Price     32 non-null     object
 2   Quantity  32 non-null     int64
 3   Store     32 non-null     object
 4   Date      32 non-null     datetime64[ns]
 5   Category  32 non-null     object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 1.6+ KB

Set up grocery dictionary with updates and convert to df

In [9]:
dictionary_groceries = {
    'Item' : ['lindt chocolate', 'iced tea', 'popcorners', 'gummy worms', 'liquid death mango', 'pringles'],
    'Price' : ['$2.19', '$2.89', '$2.49', '$3.19', '$2.69', '$1.99'],
    'Quantity' : ['1', '2', '1', '1', '1', '1'],
    'Store' : ['Pilot', 'Pilot', 'Pilot', 'Pilot', 'Pilot', 'Pilot'],
    'Date' : ['9/17/23', '9/17/23', '9/17/23', '9/17/23', '9/17/23', '9/17/23'],
    'Category' : ['sweet snack', 'drink', 'salty snack', 'sweet snack', 'drink', 'salty snack'] 
    #category menu: sweet snack, salty snack, drink, meat, produce, bread, dairy, quick meal, dry goods, spices
}

new_grocery_df = pd.DataFrame(dictionary_groceries)

our_groceries_df = pd.concat([our_groceries_df, new_grocery_df], ignore_index=True).reset_index(drop=True)
our_groceries_df.tail(5)

                  Item  Price Quantity  Store     Date     Category
40            iced tea  $2.89        2  Pilot  9/17/23        drink
41          popcorners  $2.49        1  Pilot  9/17/23  salty snack
42         gummy worms  $3.19        1  Pilot  9/17/23  sweet snack
43  liquid death mango  $2.69        1  Pilot  9/17/23        drink
44            pringles  $1.99        1  Pilot  9/17/23  salty snack

Overwrite csv

In [10]:
our_groceries_df.to_csv("Bearisa-Groceries.csv", encoding='utf-8', index=False)

grocery trends visualization ideas:
- item frequency
- spending by category
- category frequency
- spending by item
- store frequency
- spending by store