Set up imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Convert csv to df

In [2]:
our_groceries_df = pd.read_csv("Bearisa-Groceries.csv", index_col=False)
our_groceries_df.tail(5)

,Item,Price,Quantity,Store,Date,Category
24,corn chips,$2.49,1,Trader Joes,9/13/2023,salty snack
25,harvest tea,$2.49,1,Trader Joes,9/13/2023,drink
26,high fiber cereal,$2.99,1,Trader Joes,9/13/2023,quick meal
27,pumpkin spice rooibos tea,$4.99,1,Trader Joes,9/13/2023,drink
28,dark chocolate pb cups,$0.99,1,Trader Joes,9/13/2023,sweet snack

Check info types and convert date time values

In [3]:
our_groceries_df["Date"] = pd.to_datetime((our_groceries_df["Date"]), format='mixed')
our_groceries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Item      29 non-null     object
 1   Price     29 non-null     object
 2   Quantity  29 non-null     int64
 3   Store     29 non-null     object
 4   Date      29 non-null     datetime64[ns]
 5   Category  29 non-null     object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 1.5+ KB

Set up grocery dictionary with updates and convert to df

In [4]:
dictionary_groceries = {
    'Item' : ['fig bars', 'hoppy refresher 24 pk'],
    'Price' : ['$16.59', '$28.99'],
    'Quantity' : ['1', '1'],
    'Store' : ['Costco', 'Costco'],
    'Date' : ['9/15/23', '9/15/23'],
    'Category' : ['quick meal', 'drink'] 
    #category menu: sweet snack, salty snack, drink, meat, produce, bread, dairy, quick meal, dry goods, spices
}

new_grocery_df = pd.DataFrame(dictionary_groceries)

our_groceries_df = pd.concat([our_groceries_df, new_grocery_df], ignore_index=True).reset_index(drop=True)
our_groceries_df.tail(5)

,Item,Price,Quantity,Store,Date,Category
26,high fiber cereal,$2.99,1,Trader Joes,2023-09-13 00:00:00,quick meal
27,pumpkin spice rooibos tea,$4.99,1,Trader Joes,2023-09-13 00:00:00,drink
28,dark chocolate pb cups,$0.99,1,Trader Joes,2023-09-13 00:00:00,sweet snack
29,fig bars,$16.59,1,Costco,9/15/23,quick meal
30,hoppy refresher 24 pk,$28.99,1,Costco,9/15/23,drink

Overwrite csv

In [5]:
our_groceries_df.to_csv("Bearisa-Groceries.csv", encoding='utf-8', index=False)

grocery trends visualization ideas:
- item frequency
- spending by category
- category frequency
- spending by item
- store frequency
- spending by store