Set up imports

In [15]:
import pandas as pd
import matplotlib.pyplot as plt

Convert csv to df

In [16]:
our_groceries_df = pd.read_csv("Bearisa-Groceries.csv", index_col=False)
our_groceries_df.tail(5)

,Item,Price,Quantity,Store,Date,Category
61,NOLA rice,$1.45,2,Aldi,2023-10-05 00:00:00,dry goods
62,tikka masala sauce,$3.55,1,Aldi,2023-10-05 00:00:00,quick meal
63,bread,$3.99,1,Aldi,2023-10-05 00:00:00,bread
64,veggie burgers,$2.49,1,Aldi,2023-10-05 00:00:00,quick meal
65,veggie ramen 4 pk,$5.99,1,Windy City Market,10/02/23,quick meal

Check info types and convert date time values

In [17]:
our_groceries_df["Date"] = pd.to_datetime((our_groceries_df["Date"]), format='mixed')
our_groceries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Item      66 non-null     object
 1   Price     66 non-null     object
 2   Quantity  66 non-null     int64
 3   Store     66 non-null     object
 4   Date      66 non-null     datetime64[ns]
 5   Category  66 non-null     object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 3.2+ KB

Set up grocery dictionary with updates and convert to df

In [18]:
dictionary_groceries = {
    'Item' : ['life cereal', 'lentil soup', 'veggie soup', 'no soy teryaki', 'low carb tortillas'],
    'Price' : ['$4.99', '$3.29', '$2.30', '$3.94', '$4.79'],
    'Quantity' : ['1', '1', '1', '1', '1'],
    'Store' : ['Target', 'Target', 'Target', 'Target', 'Target'],
    'Date' : ['10/02/23', '10/02/23', '10/02/23', '10/02/23', '10/02/23'],
    'Category' : ['quick meal', 'quick meal', 'quick meal', 'quick meal', 'bread'] 
    #category menu: sweet snack, salty snack, drink, meat, produce, bread, dairy, quick meal, dry goods, spices, canned goods, condiments
}

new_grocery_df = pd.DataFrame(dictionary_groceries)

our_groceries_df = pd.concat([our_groceries_df, new_grocery_df], ignore_index=True).reset_index(drop=True)
our_groceries_df.tail(5)

                  Item  Price Quantity   Store      Date    Category
66         life cereal  $4.99        1  Target  10/02/23  quick meal
67         lentil soup  $3.29        1  Target  10/02/23  quick meal
68         veggie soup  $2.30        1  Target  10/02/23  quick meal
69      no soy teryaki  $3.94        1  Target  10/02/23  quick meal
70  low carb tortillas  $4.79        1  Target  10/02/23       bread

Overwrite csv

In [19]:
our_groceries_df.to_csv("Bearisa-Groceries.csv", encoding='utf-8', index=False)

grocery trends visualization ideas:
- item frequency
- spending by category
- category frequency
- spending by item
- store frequency
- spending by store